aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
humanize
httpx
motor
numpy
opencv-python
pillow
psutil
py-tgcalls
pykeyboard
https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.23.zip
python-dotenv
pyyaml
pytz
requests
speedtest-cli
spotipy
pymongo
tgcrypto
unidecode
uvloop
yt-dlp
youtube-search
youtube-search-python
